body {
    background-color: #E3FDFD;
}

hr {
    border-style: inset;
    border-color: grey;
}

h1 {
    color: #71C9CE;
}

h2 {
    color: #71C9CE;
}

h3 {
    color: #71C9CE;
}

h4 {
    color: #71C9CE;
}